* {
  margin: 0;
  padding: 0;
}
.backgroundpg {
  background-image: url("/image/bgImg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 10vh;
}
.logo {
  width: 80px;
}

.logo img {
  width: 80px;
}

header {
  list-style-type: none;
  overflow: hidden;
  display: block;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  font-family: "Playwrite DE Grund", cursive;
}

li {
  float: right;
  display: block;
  color: rgb(9, 5, 5);
  text-align: center;
  padding: 16px;
  display: block;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu button {
  cursor: pointer;
  border-radius: 4px;
  background-color: #c8b9b9;
  font-size: 14px;
  font-family: "Playwrite DE Grund", cursive;
  padding: 4px 8px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  padding: 10px;
}

.hero h1,
.hero p {
  max-width: 600px;
  margin-bottom: 20px;
  color: antiquewhite;
  font-family: "Playwrite DE Grund", cursive;
}

.hero button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #c8b9b9; /* Green */
  color: rgb(11, 1, 1);
  border-radius: 10px;
  font-family: "Playwrite DE Grund", cursive;
}

section {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image-first {
  flex: 1;
  margin-right: 20px;
}

.image-first img {
  width: 90%;
  height: auto;
}

.info {
  flex: 1;
  font-family: "Playwrite DE Grund", system-ui;
  margin-left: 20%;
}

.info h2 {
  margin-bottom: 2%;
}

.info h3 {
  margin-bottom: 5%;
}
/* --------------------------------------------Media Screen-------------------------------------------------- */
@media screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 5px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-menu li {
    margin: 1px 0;
    width: 100%;
    text-align: center;
  }

  li {
    float: none;
  }
  section {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-first {
    margin-left: 60px;
    margin-bottom: 20px;
  }

  .wrapper img {
    height: 200px;
  }

  .cta {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer_nav {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .contact h2,
  .contact .mail,
  .contact .infoschool {
    text-align: center;
  }

  .footerlogo {
    text-align: center;
    margin-top: 20px;
  }

  .footerlogo img {
    margin: 0 auto;
    display: block;
  }
}
.rekomendation {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rekomendation h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Playwrite DE Grund", system-ui;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

.wrapper img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.wrapper p {
  font-size: 16px;
  font-family: "Playwrite DE Grund", system-ui;
}
.cta {
  flex-direction: column;
  margin-bottom: 10%;
}

.cta p {
  padding: 5px;
}

h1 {
  margin-bottom: 20px;
  font-family: "Playwrite DE Grund", system-ui;
}

p {
  font-family: "Playwrite DE Grund", system-ui;
}

.cta button {
  cursor: pointer;
  border-radius: 8px;
  background-color: #c8b9b9;
  padding: 8px;
  font-size: 14px;
  font-family: "Playwrite DE Grund", system-ui;
}

.contact h2 {
  padding-bottom: 20px;
  font-family: "Playwrite DE Grund", system-ui;
}

footer {
  display: flex;
  height: 20%;
}

.footer_nav {
  flex: 1;
  display: block;
}

.footer_nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.footer_nav li {
  padding: 1px;
  font-family: "Playwrite DE Grund", system-ui;
}

.contact {
  flex: 1;
  text-align: left;
}

.footerlogo {
  text-align: -webkit-right;
  margin-top: 2%;
}

.footerlogo img {
  max-width: 150px;
}
.mail {
  margin-bottom: 45px;
}
